<html>

    <style>

    body {
        background-color: #87CEFA;
    }

    </style>


    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Event Management Site</title>
    </head>

    <body>
        <h1>Login</h1>
        
        <form id="login_form" action="/login" method="POST">

            <div id="login_error"></div>
            <h4>The username doesn't exist, please input agian</h4>
            
            Username: <input type="text" id="username" name="username">
            <br></br>
            Password: <input type="password" id="password" name="password">
            <br></br>

            <input type="submit" name="submit" value="Login">
        </form>
        
        <form id="register" action="/register" method="GET">
            Don’t have an account? <input type="submit" value="Register"><br>
        </form>
        

        <!--
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                {% for message in messages %}
                    alert('{{ message }}')
                {% endfor %}
                </script>
            {% endif %}
        {% endwith %} 
        -->

    </body>

</html>