<html>

    <style>

    body {
        background-color: #87CEFA;
    }

    </style>

    <head>
        <title>Event Management Site</title>
    </head>

    <body>
        <h1>Register</h1>
        
        <form id="register_form" action="/register" method="POST">
            Username: <input type="text" id="username" name="username" value="">
            <br></br>
            Password: <input type="password" id="password" name="password" value="">
            <br></br>
            <input type="submit" name="submit">
        </form>

        <div id='err'></div>
    </body>

</html>
