<html>

    <style>

    body {
        background-color: #87CEFA;
    }

    </style>

    <head>
        <title>Event Management Site</title>
    </head>

    <body>
        <h1>Register</h1>
        
        <form id="register_form" action="{{ url_for("register") }}" method="POST">
            {{ form.csrf_token }}

            Username: <input type="text" id="username" name="username">
            <br></br>
            Password: <input type="password" id="password" name="password">
            <br></br>
            Input your password again: <input type="password" id="repassword" name="repassword">
            <br></br>

            {% if emsg %}
                <h3> {{ emsg }}</h3>
            {% endif %}

            <input type="submit" name="submit"> 

        </form>

    </body>

</html>
